<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Parcial API - Slime Rancher</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>Parcial API - Slime Rancher</h1>
  </header>

  <main>
    <p><strong>Rutas externas</strong> (proxy a API Slime Rancher):</p>
    <ul>
      <li><a href="/api/slr/slimes">/api/slr/slimes</a></li>
      <li><a href="/api/slr/foods">/api/slr/foods</a></li>
      <li><a href="/api/slr/locations">/api/slr/locations</a></li>
      <li><a href="/api/slr/toys">/api/slr/toys</a></li>
    </ul>

    <p><strong>Rutas internas</strong> (MongoDB):</p>
    <ul>
      <li><a href="/api/favorites">/api/favorites</a></li>
    </ul>
  </main>

  <footer>
    <p>Alumno: Brisa Micaela Gonzalez Marmol</p>
    <p>Materia: Aplicaciones Hibridas</p>
    <p>Docente: Jonathan Cruz</p>
    <p>Comisión: DWT4AP</p>
  </footer>
</body>
</html>
